/* site.css */
.range {
    position:relative;
    width:100%;
    margin-left: 0px;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.title-box {
	background: rgba(255,255,255,1);
}
.info h4 {
	margin: 0 0 2px;
	color: #777;
}
.info p {
	margin: 0px;
	color: #777;
}
.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.circle {
	border-radius: 25px;
}
.line {
	height: 5px !important;
	margin-top: 7px;
}
.square {
	box-sizing: border-box;
}